pandas
streamlit
openai
seaborn
matplotlib
temp
os-sys
Python-IO
altair
plotly-express
unstructured
unstructured-client
unstructured-inference
langchain
PyMuPDF
PyMuPDFb
python-dotenv
langchain-community
langchain-core
pytest-warnings
typing
requests

